body {
  background-color: #fffcf2;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: larger;
}

.top-table {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #86bbd8;
  color: #4e3822;
  border-collapse: collapse;
  text-align: center;
  z-index: 1000;
}

.top-table th {
  padding: 15px;
  width:20%;
  border: 3px solid #4e3822;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-table img {
  width: 35px;
  height: 35px;
  transition: 0.3s ease;
  cursor: pointer;
}

.top-table img:hover {
  filter: brightness(1) invert(0);
  transform: scale(1.1);
}

.content {
  margin-top: 80px;
  padding: 20px;
}


h2 {
    color: #4e3822;
    margin-bottom: 20px;
}

.flashcard-container {
    perspective: 1000px;
    width: 320px;
    height: 420px;
    position: relative;
    left: 40%;
}

.flashcard {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.flashcard.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    border: 3px solid #4e3822;
    background-color: #faf0ce;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.front {
    background-color: #faf0ce;
}

.back {
    background-color: #99d19c;
    color: #4e3822;
    transform: rotateY(180deg);
}

.content img {
    width: 220px;
    height: 180px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 15px;
}

.front h3, .back h3 {
    font-size: 1.5rem;
    color: #4e3822;
}

.controls {
    margin-top: 80px;
}

button {
    background-color: #f6ae2d;
    color: #4e3822;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #ffb84d;
    transform: scale(1.05);
}